<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
    <h1>Список вопросов:</h1>
{#    <h2>Выучено: {{ percent }}% </h2>#}
    <h2>Шанс того, что выпадет один вопрос из выученных {{ percent }}</h2>
    <h2>Шанс того, что выпадут оба вопроса из выученных {{ percent2 }}</h2>
    <h2>Осталось: {{ remains }} мин. То есть на каждый вопрос: {{ quest }}</h2>
    {% for question in questions %}
        <h4>{{ question }} <a href="edit/{{ question }}/">выучил!</a></h4>
    {% endfor %}
    <h1>выучено:</h1>
    {% for i in learned %}
        <h4>{{ i }}</h4>
    {% endfor %}
</body>
</html>